@tailwind base;
@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');

html,
body {
  color: #2a2a2a;
  font-size: 18px;
  line-height: 1.45;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
}


code {
  background: lightgrey;
  border-radius: 0.125rem;
  font-weight: bold;
  padding: 0.125rem 0.25rem;
}
